parserOptions:
    sourceType: module

env:
    browser: true
    amd: true           // eslint registers globals for 'define' and 'require'.
    commonjs: false

extends:
    "eslint:recommended"

rules:
    no-cond-assign: 0
    no-constant-condition: 0
